h1{
    color: limegreen;
    font-family: "Fascinate Inline", system-ui;
}

.container{
    background-color: yellow;
    min-height: 500px;
    max-width:1024px ;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col{
    width: 30%;
    margin-bottom: 40px;
}

.col img{
    width: 100%;
    height: 200px;
}

.hide-desktop-only{
    display: none;
}

/* Tablet View */
@media (max-width:768px){
    h1{
        color: darkorange;
        font-family: "Roboto";
    }

    .col{
        width: 45%;
    }
}

/* Mobile View */
@media (max-width:500px){
    h1{
        color: blue;
        font-family: 'Times New Roman', Times, serif;
    }

    .col{
        width: 100%;
    }
}